@page "/"
@using SmartPad.Implementations

@*Action Row*@
<div class="sticky-top bg-light p-2 border-bottom text-end">
    <button type="button" class="btn btn-secondary"
            onclick="@FormatContent">Format</button>
</div>

<textarea class="w-100 h-screen mt-1 "
    placeholder="Start Typing..." 
    onchange="@UpdateContent" value="@content.RawContent"
/>

@code {
    private TextContent content = new();
    private SampleFormatter formatter;

    protected override void OnAfterRender(bool firstRender)
    {
        formatter = new SampleFormatter(content);
    }


    private void UpdateContent(ChangeEventArgs e)
    {
        content.RawContent = e.Value?.ToString() ?? "";
    }

    private void FormatContent()
    {
        formatter.Format();
    }

    
}

