@inherits LayoutComponentBase

<PageTitle>@Branding.APP_TITLE</PageTitle>

<div class="page">
    <div class="sidebar">
        <div class="m-2 w-full text-center text-white h2 text-shadow">
            @Branding.APP_TITLE
        </div>
    </div>

    <main>
        <article class="content p-0">
            @Body
        </article>
    </main>
</div>
