@inherits LayoutComponentBase

<PageTitle>SmartPad</PageTitle>

<div class="page">
    <div class="sidebar">
        <div class="m-2 w-full text-center text-white h2 text-shadow">
            SmartPad
        </div>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
